<aside class="sidebar">
	<div class="sidebar-container">
		<div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Modular Admin
      </div>
    </div>
		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-menu">

				<li class="" ng-class="pagename === 'dashboard' ? 'active' : ''" >
					<a [routerLink]="['/admin', 'dashboard']">
						<i class="fa fa-home"></i> Dashboard
					</a>
				</li>
				<li class="" ng-class="pagename === 'items-list' ? 'active open' : ''">
					<a href="">
						<i class="fa fa-th-large"></i> Quản lý tài khoản
						<i class="fa arrow"></i>
					</a>
					<ul class="sidebar-nav">
						<li class="" ng-class="pagename === 'items-list' ? 'active' : ''">
							<a [routerLink]="['/admin', 'user-management']">
								Danh sách hoạt động
							</a>
						</li>
						<li class="" ng-class="pagename === 'item-editor' ? 'active' : ''">
							<a href="item-editor.html">
								Danh sách đã khóa
							</a>
						</li>
					</ul>
				</li>
				<li class="" ng-class="pagename === 'charts-morris' ? 'active open' : ''">
					<a href="">
						<i class="fa fa-bar-chart"></i> Charts
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li class="" ng-class="pagename === 'charts-flot' ? 'active' : ''">
							<a href="charts-flot.html">
								Flot Charts
							</a>
						</li>
						<li class="" ng-class="pagename === 'charts-morris' ? 'active' : ''">
							<a href="charts-morris.html">
								Morris Charts
							</a>
						</li>
					</ul>
				</li>
				<li class="" ng-class="pagename === 'static-tables' ? 'active open' : ''">
					<a href="">
						<i class="fa fa-table"></i> Tables
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li class="" ng-class="pagename === 'static-tables' ? 'active' : ''">
							<a href="static-tables.html">
								Static Tables
							</a>
						</li>
						<li class="" ng-class="pagename === 'responsive-tables' ? 'active' : ''">
							<a href="responsive-tables.html">
								Responsive Tables
							</a>
						</li>
					</ul>
				</li>
				<li class="" ng-class="pagename === 'form' ? 'active' : ''">
					<a href="forms.html">
						<i class="fa fa-pencil-square-o"></i> Forms
					</a>
				</li>
				<li class="" ng-class="pagename === 'buttons' ? 'active open' : ''">
					<a href="">
						<i class="fa fa-desktop"></i> UI Elements
						<i class="fa arrow"></i>
					</a>
					<ul class="sidebar-nav">
						<li class="" ng-class="pagename === 'buttons' ? 'active' : ''">
							<a href="buttons.html">
								Buttons
							</a>
						</li>
						<li class="" ng-class="pagename === 'cards' ? 'active' : ''">
							<a href="cards.html">
								Cards
							</a>
						</li>
						<li class="" ng-class="pagename === 'typography' ? 'active' : ''">
							<a href="typography.html">
								Typography
							</a>
						</li>
						<li class="" ng-class="pagename === 'icons' ? 'active' : ''">
							<a href="icons.html">
								Icons
							</a>
						</li>

						<li class="" ng-class="pagename === 'grid' ? 'active' : ''">
							<a href="grid.html">
								Grid
							</a>
						</li>
					</ul>
				</li>
				<li class="" ng-class="pagename === 'login' ? 'active open' : ''">
					<a href="">
						<i class="fa fa-file-text-o"></i> Pages
						<i class="fa arrow"></i>
					</a>
					<ul class="sidebar-nav">
						<li class="" ng-class="pagename === 'login' ? 'active' : ''">
							<a href="login.html">
								Login
							</a>
						</li>
						<li class="" ng-class="pagename === 'signup' ? 'active' : ''">
							<a href="signup.html">
								Sign Up
							</a>
						</li>
						<li class="" ng-class="pagename === 'reset' ? 'active' : ''">
							<a href="reset.html">
								Reset
							</a>
						</li>
						<li class="" ng-class="pagename === 'error-404' ? 'active' : ''">
							<a href="error-404.html">
								Error 404 App
							</a>
						</li>
						<li class="" ng-class="pagename === 'error-404-alt' ? 'active' : ''">
							<a href="error-404-alt.html">
								Error 404 Global
							</a>
						</li>
						<li class="" ng-class="pagename === 'error-500' ? 'active' : ''">
							<a href="error-500.html">
								Error 500 App
							</a>
						</li>
						<li class="" ng-class="pagename === 'error-500-alt' ? 'active' : ''">
							<a href="error-500-alt.html">
								Error 500 Global
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class="fa fa-sitemap"></i> Menu Levels
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">

						<li>
							<a href="#">
								Second Level Item
								<i class="fa arrow"></i>
							</a>

							<ul class="sidebar-nav">

								<li>
									<a href="#">
										Third Level Item
									</a>
								</li>

								<li>
									<a href="#">
										Third Level Item
									</a>
								</li>

							</ul>
						</li>

						<li>
							<a href="#">
								Second Level Item
							</a>
						</li>

						<li>
							<a href="#">
								Second Level Item
								<i class="fa arrow"></i>
							</a>

							<ul class="sidebar-nav">

								<li>
									<a href="#">
										Third Level Item
									</a>
								</li>

								<li>
									<a href="#">
										Third Level Item
									</a>
								</li>

								<li>
									<a href="#">
										Third Level Item
										<i class="fa arrow"></i>
									</a>

									<ul class="sidebar-nav">

										<li>
											<a href="#">
												Fourth Level Item
											</a>
										</li>

										<li>
											<a href="#">
												Fourth Level Item
											</a>
										</li>
									</ul>

								</li>
							</ul>
						</li>

					</ul>
				</li>

				<li class="" ng-class="pagename === 'docs' ? 'active' : ''" >
					<a href="https://github.com/modularcode/modular-admin-html">
						<i class="fa fa-github-alt"></i> Theme Docs
					</a>
				</li>


			</ul>
		</nav>

	</div>

	<footer class="sidebar-footer">
    <ul class="sidebar-menu metismenu" id="customize-menu">
      <li>
        <ul>
          <li class="customize">
            <div class="customize-item">
              <div class="row customize-header">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <label class="title">fixed</label>
                </div>
                <div class="col-4">
                  <label class="title">static</label>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="title">Sidebar:</label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
                                <span></span>
                            </label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="sidebarPosition" value="">
                                <span></span>
                            </label>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="title">Header:</label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                <span></span>
                            </label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="headerPosition" value="">
                                <span></span>
                            </label>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="title">Footer:</label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                <span></span>
                            </label>
                </div>
                <div class="col-4">
                  <label>
                                <input class="radio" type="radio" name="footerPosition" value="">
                                <span></span>
                            </label>
                </div>
              </div>
            </div>
            <div class="customize-item">
              <ul class="customize-colors">
                <li>
                  <span class="color-item color-red" data-theme="red"></span>
                </li>
                <li>
                  <span class="color-item color-orange" data-theme="orange"></span>
                </li>
                <li>
                  <span class="color-item color-green active" data-theme=""></span>
                </li>
                <li>
                  <span class="color-item color-seagreen" data-theme="seagreen"></span>
                </li>
                <li>
                  <span class="color-item color-blue" data-theme="blue"></span>
                </li>
                <li>
                  <span class="color-item color-purple" data-theme="purple"></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="">
          <i class="fa fa-cog"></i> Customize
        </a>
      </li>
    </ul>
  </footer>
  
  

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>