<footer class="footer">
	<div class="footer-block buttons">
	</div>
	<div class="footer-block author">
		<ul>
			<li>
				created by 
				<a href="https://github.com/modularcode">ModularCode</a>
			</li>
			<li>
				<a href="https://github.com/modularcode/modular-admin-html#get-in-touch">get in touch</a>
			</li>
		</ul>
	</div>
</footer>