 <div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
          </div>
          Administrator
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-center">LOGIN TO CONTINUE</p>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="username" >Username</label>
            <input type="text" class="form-control underlined" formControlName="username" placeholder="Your username">
          </div>
          <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" class="form-control underlined" formControlName="password" placeholder="Your password">
          </div>
          <div class="form-group">
            <label for="remember">
              <input class="checkbox" type="checkbox" formControlName="remember">
              <span>Remember me</span>
            </label>

            <a [routerLink]="['/admin', 'forgot-password']" class="forgot-btn pull-right">Forgot password?</a>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="loginForm.invalid || disabledButton" class="btn btn-block btn-primary">Login</button>
          </div>
          <div class="form-group">
            <p class="text-muted text-center">Do not have an account? <a href="signup.html">Sign Up!</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>