<div class="main-wrapper">
  <div class="app" id="app">
    <!-- Default header block -->
    <app-auth-header></app-auth-header>
    <!-- Default sidebar block -->
    <app-auth-sidebar></app-auth-sidebar>
    <div class="mobile-menu-handle"></div>
    <!-- Content section -->
    <article class="content">
      <router-outlet></router-outlet>
    </article>
    <app-auth-footer></app-auth-footer>
  </div>
</div>