<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
          </div>
          Administrator
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-center">PASSWORD RECOVER</p>
        <p class="text-muted text-center"><small>Enter your email address to recover your password.</small></p>
        <form [formGroup]="forgotForm">
          <div class="form-group">
            <label for="email1" >Email</label>
            <input type="email" class="form-control underlined" formControlName="email" placeholder="Your email address" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Reset</button>
          </div>
          <div class="form-group clearfix">
            <a class="pull-left" [routerLink]="['/admin', 'login']">return to Login</a>
            <a class="pull-right" href="signup.html">Sign Up!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>