@import '../../../assets/scss/auth/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../assets/common/mixins';

.auth {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: #667380;
	overflow-x: hidden;
	overflow-y: auto;
}

.auth-container {
	width: 450px;
	min-height: 330px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	
	.auth-header {
		//background-color: $color-primary;
		text-align: center;
		border-bottom: 1px solid $color-primary;
	}

	.auth-title {
		color: #97A4B1;
		padding: 20px;
		line-height: 30px;
		font-size: 26px;
		font-weight: 600;
		margin: 0;
	}

	.auth-content {
		padding: 30px 50px;
		min-height: 260px;
	}

	.forgot-btn {
		line-height: 28px;
	}

	.checkbox {
		label {
			padding: 0;
		}

		a {
			vertical-align: text-top;
		}

		span {
			color: #4f5f6f;
		}
	}
}

@include media-down(sm) {
	.auth-container {
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		transform: inherit;
		margin: 0;
		margin-bottom: 10px;

		.auth-content {
			padding: 30px 25px;
		}
	}
}