.btn {
	background-image: none;
	border-radius: 0;
	margin-bottom: 5px;
  line-height: 1.2;
  
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

	&,
	&:hover {
		color: $color-text-inverse;
	}


	&.btn-primary {
		@include button-variant( $color-primary, $color-primary);

		&,
		&:hover {
			color: $btn-primary-color-text;
		}
	}

	&.btn-secondary {
		@include button-variant( #fff, $color-divider );	
		&,
		&:hover {
			color: $color-text;
		}
	}

	&.btn-success {
		@include button-variant( $color-success, $color-success);
		// color: $color-text-inverse;
	}

	&.btn-info {
		@include button-variant( $color-info, $color-info);
		// color: $color-text-inverse;
	}

	&.btn-warning {
		@include button-variant( $color-warning, $color-warning);
		// color: $color-text-inverse;
	}

	&.btn-danger {
		@include button-variant( $color-danger, $color-danger);
		// color: $color-text-inverse;
	}

	// Remove all backgrounds
	&.btn-primary-outline {
		@include button-outline-variant($color-primary);
	}

	&.btn-secondary-outline {
		@include button-outline-variant($color-divider);
	}

	&.btn-info-outline {
		@include button-outline-variant($color-info);
	}

	&.btn-success-outline {
		@include button-outline-variant($color-success);
	}

	&.btn-warning-outline {
		@include button-outline-variant($color-warning);
	}

	&.btn-danger-outline {
		@include button-outline-variant($color-danger);
	}

	&.btn-pill-left,
	&.btn-pill-right,
	&.btn-oval {
		&:focus {
			outline: none;
    		outline-offset: initial;
		}	
	}

	&.btn-pill-left {
		border-top-left-radius: $btn-radius;	
		border-bottom-left-radius: $btn-radius;
	}

	&.btn-pill-right {
		border-top-right-radius: $btn-radius;	
		border-bottom-right-radius: $btn-radius;
	}

	&.btn-oval {
		border-radius: $btn-radius;
	}

	&.btn-link {
		text-decoration: none;
	}

	strong {
		font-weight: 600;
	}

}

.btn-group {
	.dropdown-menu {
		& > li:last-child {
			a:hover:before {
				height: 0px;
				transform: scaleX(0)
			}
		}
	}
}