.dashboard-page .stats {
	.card-block {
		padding-bottom: 0;
	}

	.stat-col {
		margin-bottom: 20px;
		float: left;
		white-space: nowrap;
		// width: percentage(1/2);
		overflow: hidden;

		// @include media-down(sm) {
		// 	width: 100%;
		// }
	}

	.stat-icon {
		color: $dashboard-stat-icon-color;
		display: inline-block;
		font-size: 26px;
		text-align: center;
		vertical-align: middle;
		width: 50px;
	}

	.stat-chart {
		margin-right: 5px;

		@include media-up(xl) {
			margin-right: 0.6vw;
			// margin-right: 10px;
			// width: 3vw;
			// height: 3vw;
		}

		vertical-align: middle;
	}

	.stat {
		vertical-align: middle;
		.value {

			@include media-up(xl) {
				font-size: 1.3vw;
			}
		}
		.name {
			@include media-up(xl) {
				font-size: 0.9vw;
			}
		}
	}

	.stat-progress {
		height: 2px;
		margin: 5px 0;
		color: $color-primary;
		background-color: #dddddd;

		.progress-bar {
			background-color: $color-primary;
		}
	}
}