.footer {
	background-color: #fff;
	position: absolute;
	left: $sidebar-width;
	right: 0;
	bottom: 0;
	height: $footer-height;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.footer-fixed & {
		position: fixed;
	}


	.footer-block {
		vertical-align: middle;
		margin-left: 20px;
		margin-right: 20px;
		// line-height: 30px;
	}

	.footer-github-btn {
		vertical-align: middle;
	}

	@include media-down(md) {
		left: 0;
	}

	.author > ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:after {
				content: "|";
			}

			&:last-child:after {
				content: "";
			}


			@include media-down(md) {
				display: block;
				text-align: right;

				&:after {
					content: "";
				}
			}
		}

		@include media-down(md) {
			display: block;
		}

		@include media-down(sm) {
			display: none;
		}
	}
}