
input,
textarea {
	outline: none;
}


.form-group {
	.row {
		margin-left: -10px;
		margin-right: -10px;

		[class^='col'] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&.has-error {
		span.has-error {
			color: $color-danger;
			font-size: 13px;
			display: block !important;
		}

		.form-control-feedback {
			color: $color-danger;
		}
	}

	&.has-warning {
		span.has-warning {
			color: $color-warning;
			font-size: 13px;
			display: block !important;
		}

		.form-control-feedback {
			color: $color-warning;
		}
	}

	&.has-success {
		span.has-success {
			color: $color-success;
			font-size: 13px;
			display: block !important;
		}

		.form-control-feedback {
			color: $color-success;
		}
	}
}

/* Input groups */
.input-group {
	margin-bottom: 10px;

	.form-control {
		padding-left: 5px;
	}

	.input-group-btn {
		.btn {
			margin-bottom: 0;
		}
	}

	span.input-group-addon {
		font-style: italic;
		border: none;
		border-radius: 0;
		border: none;
		background-color: $color-divider;
		transition: background-color ease-in-out 15s, color ease-in-out .15s;

		&.focus {
			background-color: $color-primary;
			color: #ffffff;
		}
	}
}

label,
.control-label {
	font-weight: 600;
}

.form-control.underlined {
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	border: none;
 	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid $color-divider;

	&.indented {
		padding: .375rem .75rem;
	}

	.has-error &:focus,
	.has-warning &:focus,
	.has-success &:focus,
	&:focus {
		border: none;
		box-shadow: none;
		border-bottom: 1px solid $color-primary;
	}

	.has-error & {
		box-shadow: none;
		border-color: $color-danger;
	}

	.has-warning & {
		box-shadow: none;
		border-color: $color-warning;
	}

	.has-success & {
		box-shadow: none;
		border-color: $color-success;
	}
}

.form-control.boxed {
    border-radius: 0;
    box-shadow: none;

    &:focus {
    	border: 1px solid $color-primary;
    }
}

.radio,
.checkbox {
	display: none;

	& + span {
		padding: 0;
		padding-right: 10px;
	}

	& + span:before {
		font-family: FontAwesome;
		font-size: 21px;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 10px;
		color: darken($color-divider, 5%);
	}

	&:checked + span:before {
		color: $color-primary;
	}

	&:disabled + span:before {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:checked:disabled  + span:before {
		color: darken($color-divider, 5%);
	}
}

.checkbox {

	& + span:before {
		content: "\f0c8";
	}

	&:checked + span:before {
		content: "\f14a";
	}

	&.rounded {
		& + span:before {
			content: "\f111";
		}

		&:checked + span:before {
			content: "\f058";
		}
	}
}

.radio {

	& + span:before {
		content: "\f111";
	}

	&:checked + span:before {
		content: "\f192";
	}

	&.squared {
		& + span:before {
			content: "\f0c8";
		}

		&:checked + span:before {
			content: "\f14a";
		}
	}

}


// Placeholders
.form-control {
	&::-webkit-input-placeholder {
		font-style: italic;
		color: darken($color-divider, 5%);
	}

	&:-moz-placeholder { /* Firefox 18- */
		font-style: italic;
		color: $color-divider;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		font-style: italic;
		color: $color-divider;
	}

	&:-ms-input-placeholder {
		font-style: italic;
		color: $color-divider;
	}
}