@import './assets/scss/auth/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import './assets/common/mixins';

@import './assets/scss/auth/button';
@import './assets/scss/auth/app';
@import './assets/scss/auth/form';
@import './assets/scss/auth/header';
@import './assets/scss/auth/sidebar';
@import './assets/scss/auth/card';
@import './assets/scss/auth/footer';
@import './assets/scss/auth/dashboard';

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: $color-text;
	overflow-x: hidden;
}

.main-wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#ref {
	.color-primary {
		color: $color-primary;
	}

	.chart {
		.color-primary {
			color: $chart-color-primary;
		}
		.color-secondary {
			color: $chart-color-secondary;
		}
	}
}